.codes-container {
    display: flex;
    &__element {
        border: 1px solid rgb(60, 60, 60);
        flex: 1 0 0;
        background-color: #212121;
        &__header {
            background-color: #060606;
            &__title {
                width: 75px;
                padding: 5px 0;
                color: white;
                font-weight: bold;
                text-align: center;
                background-color: #212121;
                &--html {
                    color: #DD652F
                }
                &--css {
                    color: #519ABA
                }
                &--js {
                    color: #CBCB41
                }
            }
        }
        &__area {
            font-family: Consolas;
            color: white;
            background-color: #212121;
            padding: 5px;
            width: 100%;
            resize: none;
            border: none;
            outline: none;
            &:focus {
                background-color: #363636;
            }
        }
        &__buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &--center {
                justify-content: center;
            }
            &__button {
                padding: 5px;
                border: 1px solid rgb(60, 60, 60);
                color: white;
                min-width: 80px;
                cursor: pointer;
                text-align: center;
                &:hover {
                    background-color: #363636;
                }
            }
            &__check {
                cursor: pointer;
                margin: 0 3px 0 15px;
            }
            &__label {
                cursor: pointer;
                color: white;
            }
        }
    }
}